.section{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;}
.gridsection
    {height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: " Productos NombreProducto"
                         "Descripcion Descripcion";}