.contactomain{background-image: url(../../media/fondocontacto.jpg);
}
.fondo{ width: 55%;
padding: 1rem;}
.s-titulo{font-size: 4rem;
    padding-top: 1rem;}
.s-descripcion{font-size: 1.6rem;
    padding-bottom: 1rem;}