header {position: relative;
        height: 10vw;
        display: flex;
        text-align: center;
        background-color: rgb(67, 86, 97);
        justify-content: center;
        align-items: center;
        
        .titulo{
                height: 10rem;}
    
        & h1 {font-size: 7vw;
            color: rgb(226, 230, 233,);
            text-shadow: 3px 3px 3px white;
                background-color: rgb(67, 86, 97)}        
        
        & div p {font-size: 3vw;
            color: rgb(67, 86, 97);
        padding-bottom: 0,5rem;}        
        }

