header {position: relative;
        height: 15vw;
        display: flex;
        text-align: center;
        background-color: #8790b6;
        justify-content: center;
        align-items: center;
        
        .titulo{
                height: 10rem;}
    
        & h1 {font-size: 7vw;
            color: #002349;
            text-shadow: 3px 3px 3px white;
                background-color: #8790b6;}        
        
        & div p {font-size: 3vw;
            color: #8790b6;
        padding-bottom: 0,5rem;
               
        }
        .barra{ position: relative;
                display:block;
                background-color: #ffffff;
                }
        
        }

