.navb {height: 60%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "notebook notebook notebook notebook"
                            "allinone allinone allinone allinone"
                            "Slim Slim Slim Slim"
                            "Mid-Towers Mid-Towers Mid-Towers Mid-Towers";}


@mixin menu ($grid){grid-area: $grid;
    border: solid rgb(0, 89, 185) 2px;}




.notebooks {@include menu (notebook);
    @extend .fontS;
width: 100%
}

.allinone {@include menu (allinone);
    @extend .fontS;}

.slim {@include menu (slim);
    @extend .fontS;}

.midtowers {@include menu (midtowers);
    @extend .fontS;}

.fontS{font-size: 7vw}


