.hr1{height: 10px;
    background-color:rgb(226, 230, 233,);
margin: 0;
padding: 0;
border: 0px;
opacity: 1;
}
nav a{
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    background-color: rgb(226, 230, 233,);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

.subtitulo{font-size: 4rem;}



