* { margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

a {text-decoration: none;
    color: rgb(0, 30, 63);}

@mixin supercentro {
    display: flex;
    justify-content: center;
    align-items: center;}